{% extends "layout.html" %}

{% block body %}
<h1 class="mt-5"> Trivia </h1>

<p class="about">Trivia is a quiz web app that I built for my <a href="https://cs50.harvard.edu/web/2020/">CS50W final project</a>.</p>
<p class="about">It pulls information from five public APIs, depending on the topics the user requests to be quizzed on, parses the responses and formats them into questions.</p>
<p class="about">Trivia will keep track of users scores and caches viable API routes so </p>

<h2 class="mt-5"> APIs </h1>

<h2 class="mt-5"> Links </h1>

<h2 class="mt-5"> APIs </h1>

<h2 class="mt-5"> APIs </h1>

<h2 class="mt-5"> APIs </h1>
        
<h2 class="mt-5"> APIs </h1>


        
{% endblock %}