{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="header mt-5 text-center">
        <h1>Welcome</h1>
        <p class="lead">This is my website for demoing my Capstone project</p>
    </div>
</div>
<div class="container">
    
<div class="card-deck mb-3 text-center">
    <div class="card box-shadow mt-5">
        <div class="card-header">
            <h1>Play Trivia</h1>
        </div>
        <div class="card-body">
            <div class="btn-group">
                <a href="{% url 'triviagame' %}" class="btn-lg btn-outline-secondary mr-1" type="button" id="singleplayer">Play singleplayer</a>
                <a href="{% url 'triviagame' %}" class="btn-lg btn-outline-secondary mr-1" type="button" id="abouttrivia">About trivia</a>
            </div>
        </div>
    </div>
    <div class="card box-shadow mt-5">
        <div class="card-header">
            <h1>Manage account</h1>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Check your scores</li>
                <li>Update your information</li>
                <li><a  class="btn btn-secondary" href="{% url 'profileview' %}">Click here</a></li>
            </ul>
        </div>
    </div>
    <div class="card box-shadow mt-5">
        <div class="card-header">
            <h1>About me</h1>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Check out my github</li>
                <li>Let me know what you think!</li>
                <li><a class="btn btn-secondary" href="https://github.com/tds455/">Click here</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}