{% extends "layout.html" %}



{% block body %}


<div class="container text-center">
    <div class="card box-shadow mt-5">
        <div class="card-header">
            <h1>Create a new account</h1>
        </div>
        <div class="card-body">
            {% if user.is_authenticated %}
            <button class="btn-lg btn-outline-dark mr-1" action="{% url 'logoutview' %}" type="button" id="singleplayer">You are already logged in.  Click here to log out</button>
            {% else %}
            <form action = "{% url 'register' %}" method="post" >
                {% csrf_token %}
                <div class="form-group">
                  <label for="registerusername">Username</label>
                  <input type="username" name="username" class="form-control" id="registerusernameinput" placeholder="Username">
                  <small id="usererror" class="form-text text-danger">{{error}}</small>
                </div>
                <div class="form-group">
                  <label for="registerpassword">Password</label>
                  <input type="password" name="pw" class="form-control" id="registerpasswordinput" placeholder="Password">
                  <input type="password" name="pwverify" class="form-control mt-4" id="registerpasswordinputverify" placeholder="Verify Password">
                  <small id="pwHelp1" class=" mt-3 form-text text-muted">This project is under development!</small>
                  <small id="pwHelp2" class="form-text text-muted">While passwords are stored securely, I recommend against reusing details</small>
                  <small id="pwHelp3" class="form-text text-muted">Please feel free to use the sample user, username: Testuser password: Trivia400</small>
                </div>
                <button type="submit" class="btn btn-outline-dark">Submit</button>
              </form>
              {% endif %}
        </div>
    </div>
</div>
{% endblock %}