{% extends "layout.html" %}
{% load static %}
{% block body %}

<div id="defaultview">
    <div class="container h-50">
    <form id="triviadata">
        <div class="card-deck mb-3 text-center">
            <div class="card text-white bg-primary mb-3 mt-5" style="max-width: 18rem;">
                <div class="card-header">Art questions</div>
                <div class="card-body">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="artradio1" id="artradio1">
                    <label class="form-check-label" for="artradio1">Enable</label> </div>
                </div>
              </div>
              <div class="card text-white bg-danger mb-3 mt-5" style="max-width: 18rem;">
                <div class="card-header">Music questions</div>
                <div class="card-body">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="musicradio1" id="musicradio1">
                    <label class="form-check-label" for="musicradio1">Enable</label> </div>
                </div>
              </div>
              <div class="card text-white bg-info mb-3 mt-5" style="max-width: 18rem;">
                <div class="card-header">Geography questions</div>
                <div class="card-body">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="worldradio1" id="worldradio1">
                    <label class="form-check-label" for="worldradio1">Enable</label> </div>
                </div>
              </div>
              <div class="card text-white bg-secondary mb-3 mt-5" style="max-width: 18rem;">
                <div class="card-header">Sports questions</div>
                <div class="card-body">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="sportsradio1" id="sportsradio1">
                    <label class="form-check-label" for="sportsradio1">Enable</label> </div>
                </div>
              </div>
              <div class="card text-white bg-success mb-3 mt-5" style="max-width: 18rem;">
                <div class="card-header">Science questions</div>
                <div class="card-body">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="scienceradio1" id="scienceradio1">
                    <label class="form-check-label" for="scienceradio1">Enable</label> </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
            <div class="card h-100 border-dark">
                <div class="card-body">
                <h5 class="card-title">Choose amount of questions</h5>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="questionsno" id="6questions">
                    <label class="form-check-label" for="6questions">
                      6 questions
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="questionsno" id="9questions">
                    <label class="form-check-label" for="9questions">
                      9 questions
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="questionsno" id="12questions">
                    <label class="form-check-label" for="12questions">
                      12 questions
                    </label>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-6 col-lg-6">
            <div class="card border-dark h-100 text-center float-right w-75">
                <div class="card-body">
                <h5 class="card-title">Ready to begin?</h5>
                <button type="button" id="triviasubmit" class="btn btn-outline-dark">Start round</button>
                </div>
            </div>
            </div>
        </div>
    </form>
    </div>      
</div>

<div class="card-deck mb-3 text-center">
<form id="quizviewform">
<div id="quizview">

</div>
</form>
</div>

<div id="resultsview">

</div>

<div id="loadingview">
  <div class="container">
    <div class="header mt-5 text-center">
        <h1>Loading</h1>
        <p class="lead">Please wait for questions to load</p>
    </div>
</div>

</div>
{% endblock %}

{% block script %}
<script src="{% static '/trivia.js' %}"></script>
{% endblock %}